<!DOCTYPE html>
<html lang="en">
<!--
Short to-do list:
- Think of a layout/design for the website (Use Week 2 for inspiration).
--- Need to have a header, nav, main and footer.
- Think of what you are going to put in each page and how you're going to connect to them all.
- Go over workshops for layout suggestions especially CSS layouts.
-->
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel = "stylesheet" href="../styles/index_page.css">
    <title>GratiThink</title>
</head>

<body>

    <div class="Logo_and_nav">
        <img src="../images/Gratithink logo without background.png" alt="Gratithink Logo">
        
        <nav>
            <ul>
                <li><a href="index.html">Home</a></li>
                <li><a href="about.html">About</a></li>
                <li><a href="reviews.html">Reviews</a></li>
                <li><a href="contact.html">Contact</a></li>
            </ul>
        </nav>
    </div>

    <header><u>GratiThink</u></header>

    <h2>STRESS LESS | START TRACKING</h2>

    <main>
        <img src="../images/phone with journal.jpg" alt = "phone with journal">

        <div class="maintext">

        <p> A gratitude journal used to help students with multiple committments by keeping track of they have during done in the day. Users can look at previous entries and check their performance over a period of time or an amount of entries. <br><br> A simple, quick way to motivate students when revising or doing school work by looking at and reflecting upon past efforts.
        </p>
        </div>

        <img src="../images/habit tracker.jpg" alt="habit tracker">

    </main>

    <br><br><br>

    <footer>
        <p>&copy; Gratithink Sameer Haq, 2025</p>
    </footer>

</body>

</html>