body {
    background-image: linear-gradient(to right, blue 0%, white 20%, white 80%, blue 100%);
    text-align: center;
}

header {
    /*background-image: linear-gradient(to right, blue 0%, white 30%, white 70%, blue 100%);*/
    color: black;
    padding-top: 10px;
    padding-bottom: 5px;
    font-size: 75px;
    text-align: center;
}

nav {
    text-align: center;
    position: relative;
    /*background-image: linear-gradient(to right, blue 0%, white 30%, white 70%, blue 100%);*/
    padding: 5px;
}

nav ul {
    display: flex;
    gap: 10px;
    justify-content: center;
    border-radius: 25px;
    margin-left: 175px;
    margin-right: 200px;
    padding-top: 15px;
    padding-bottom: 15px;
}

nav li {
    list-style: none;
    font-size: 20px;
    border-radius: 25px;
    background-color: black;
    width: 150px;
    height: 30px;
}

nav li a {
    color: white;
}

