body {
    background: radial-gradient(circle, #ffffff 0%, #a8edea 155%);
    text-align: center;
    margin: 0px;
    font-family: Cambria;
}

.Logo_and_nav {
    display: flex;
    flex-direction: row;
    background-color: darkslategray;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
}

.Logo_and_nav img {
    width: 125px;
    height: auto;
    padding: 5px;
}

.Logo_and_nav nav {
    text-align: center;
    /*background-image: linear-gradient(to right, blue 0%, white 30%, white 70%, blue 100%);*/
    padding: 1px;
}

.Logo_and_nav nav ul {
    display: flex;
    flex-direction: row;
    gap: 15px;
    justify-content: center;
    padding-top: 15px;
    padding-bottom: 15px;
}

.Logo_and_nav nav ul :hover {
    box-shadow: 0px 0px 15px 5px aquamarine;
    text-decoration: underline;
}

.Logo_and_nav nav ul :focus {
    background-color: #9aa7ad;
}

.Logo_and_nav nav li {
    list-style: none;
    font-size: 30px;
    border-radius: 25px;
    background-color: #b0bec5;
    width: 150px;
    height: 37px;
}

.Logo_and_nav nav li a {
    text-decoration: none;
    border-radius: 25px;
    color: black;
    display: block;
}

.Logo_and_nav .logo_header_group {
    display: flex;
    align-items: center;
    gap: 10px;
}

.Logo_and_nav .logo_header_group header {
    display: flex;
    flex-direction: row;
    color: white;
    font-size: 85px;
    align-items: center;
}

footer {
    background-color: #004d40	;
    padding: 20px;
    color: white;
    font-size: large;
}

#timed {
    display: flex;
    border-style: solid;
    border-radius: 25px;
    border-color:#004d40;
    background-color: white;
    width: 80%;
    margin: 0 auto;
    height: 250px;
    justify-content: center;
    flex-direction: column;
    font-size: 20px;
}

#rating {
    display: flex;
    flex-direction: row;
    gap: 15px;
    width: 1000px;
    justify-content: center;
    margin: 0 auto;
    padding: 0;
    list-style-type: none;
}

#rating li {
    border-style: solid;
    background-color: green;
    font-size: 30px;
    width: 100px;
    border-radius: 10px;
}

#rating :hover {
    cursor: pointer;
}

#rating :active {
    background-color: lightgreen;
}

#reviews {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 15px;
    margin-left: 15px;
    margin-right: 15px;
}

#reviews .box {
    border-style: solid;
    border-radius: 15px;
    background-color: white;
    color: #001a33;
    border-image: linear-gradient(to bottom, darkslategray 0%, darkcyan 100%) 1;
    font-size: 20px;
}
